<html>
  <head>
    <title>Forgetful</title>
    <link href="https://unpkg.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
    <style>
      .sans-serif {
        font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
      }
    </style>
  </head>
  <body class="m2 mw7 sans-serif">
    <h1>Forgetful</h1>

    <form method="post" action="/">
      <textarea placeholder="highlight" name="highlight"></textarea>
      <textarea placeholder="notes" name="note"></textarea>
      <input type="text" placeholder="URI" name="url" />
      <input type="submit" />
    </form>

    <div class="flex flex-wrap">
    <% @all.each do |h| %>
      <div class="col-4 border"> 
        <blockquote cite="<%= h.url %>"><%= h.highlight %></blockquote>
        <p><%= h.note %></p>
        <p><%= h.created_at %></p>
      </div>
    <% end %>
  </body>
</html>
